{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


    <section>
        <div class="container">


                <div class="row d-flex justify-content-around">

                    <div class="col mt-4 py-5">
                        <div>
                            <h3 style="color: #827ffe;" class="titre_articles"> {{ article.titre }}</h3>
                        </div>

                        <br>

                        <div class="mt-4">
                            <h3 class="sous_articles text-muted"> {{ article.soustitre }}</h3>
                        </div>
                        <br>

                        <div class="mt-4">
                            <h3 class="sous_articles text-muted"> {{ article.prix }} DT</h3>
                        </div>
                        <br>
                        <br>



                    </div>

                    <div class="col">
                        <img src="/articles/{{ article.image }}" class="shadow-lg mb-5 rounded img-fluid img-articles" alt="image">
                    </div>
                </div>


        </div>
    </section>

{% endblock %}
