{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


    <section>
        <div class="container">


                <div class="row d-flex justify-content-around">

                    <div class="col mt-4 py-5">
                        <div>
                            <h3 class="titre_heros"> {{ hero.titre }}</h3>
                        </div>

                        <br>

                        <div class="mt-4">
                            <h3 class="sous_heros text-muted"> {{ hero.soustitre }}</h3>
                        </div>
                        <br>

                        <div class="mt-4">
                            <h3 class="sous_heros text-muted"> {{ hero.prix }}</h3>
                        </div>
                        <br>
                        <br>

                        <div class="mt-5 ">
                            <a href="" class="btn bg-dark text-white btn-block btn-lg">Explorer</a>
                        </div>


                    </div>

                    <div class="col">
                        <img src="/heros/{{ hero.image }}" class="shadow-lg mb-5 rounded img-fluid img-heros" alt="image">
                    </div>
                </div>


        </div>
    </section>

{% endblock %}
